.layout-flex {
  display: flex;
}
.flex-align-center {
  align-items: center;
}

.margin-left-sm {
  padding-left: 10px;
}
.margin-right-sm {
  padding-right: 10px;
}
.margin-bottom-sm {
  padding-bottom: 10px;
}

.margin-container {
  padding: 10px;
}
